@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    /* overflow: hidden; */
}

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(90deg, #00A868 0%, #356270 100%);
    color: #fff;
    overflow: hidden;
}

.back-button{

    z-index: 3;
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;
}

.back-button i{

    font-size: 36px;
}

.illustration{

    position: absolute;
    z-index: -1;
    top: 50vh;
    left: -15vw;
}

.illustration img{

    height: 600px;
    width: auto;
}

.main-wrapper{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.main-text{

    margin-top: 70px;
    font-size: 24px;
}

.boxes{
    
    margin-top: 70px;
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.box{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vh;
    align-items: center;
    flex-basis: 44%;
    height: 100%;
    border-radius: 20px;
    background: #356270;
    box-shadow: 7px 12px 26px #00000029;
}

.box-text{

    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.box-illustration{

    height: 80%;
}

.footer-text{

    margin-top: 70px;
}

.footer-text h1{

    font-weight: normal;
    /* margin-top: 40px; */
}

.footer-text button{

    margin-top: 50px;
    float: right;
    color: #fff;
    box-shadow: 7px 12px 26px #00000029;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    background: transparent linear-gradient(180deg, #00A868 0%, #356270 100%) 0% 0% no-repeat padding-box;;
}

.checked{

    background-color: #00B275;
}